db/
tmp/
target/
backend/target/
cli/target/
common/target/
connector/target/
snaplogic/target/
.idea
GoodDataDI.iml
backend/backend.iml
cli/cli.iml
common/common.iml
connector/connector.iml
snaplogic/snaplogic.iml
