idea
.idea
.settings

.classpath
.project

*~
**/~

gooddata-cl.iml
tmp/
target/

backend/target/
backend/gooddata-cl-backend.iml

cli/target/
cli/gooddata-cl-cli.iml

common/target/
common/gooddata-cl-common.iml

gooddata-snaplogic/target/
gooddata-snaplogic/gooddata-cl-snaplogic.iml

connector/target/
connector/gooddata-cl-connector.iml

snaplogic/target
snaplogic/gooddata-cl-snaplogic-lib.iml

cli-distro/target/
cli-distro/cli-distro.iml
cli-distro/gooddata-di-cli.iml

snap-distro/target/
snap-distro/gooddata-cl-snap.iml

cli-distro/gooddata-cli.iml

notification-distro/gooddata-alert.iml
notification-distro/target

notification/gooddata-notification.iml
notification-distro/target

sfdc/gooddata-sfdc-lib.iml
sfdc/target

web/target
web/gooddata-cl-web.iml

web-distro/target
web-distro/gooddata-cl-web-distro.iml