idea
.idea

.classpath
.project
bin

*~
**/~

GoodData-CL.iml
tmp/
target/

backend/target/
backend/backend.iml

cli/target/
cli/cli.iml

common/target/
common/common.iml

gooddata-snaplogic/target/
gooddata-snaplogic/gooddata-snaplogic.iml

connector/target/
connector/connector.iml

snaplogic/target
snaplogic/snaplogic.iml

cli-distro/target/
cli-distro/cli-distro.iml
cli-distro/gooddata-di-cli.iml

snap-distro/target/
snap-distro/snap-distro.iml
snap-distro/gooddata-snap.iml
