<!-- See documentation at https://github.com/gooddata/GoodData-CL/blob/master/cli-distro/doc/XML.md -->

<schema>
    <name>employeedata</name>
    <columns>
        <column>
            <name>emp_code</name>
            <title>Emp_Code</title>
            <ldmType>CONNECTION_POINT</ldmType>
            <folder>Employee</folder>
        </column>
        <column>
            <name>ae_name</name>
            <title>AE_NAME</title>
            <ldmType>ATTRIBUTE</ldmType>
            <folder>Employee</folder>
        </column>
        <column>
            <name>shortname</name>
            <title>ShortName</title>
            <ldmType>ATTRIBUTE</ldmType>
            <folder>Employee</folder>
        </column>
        <column>
            <name>isrep</name>
            <title>IsRep</title>
            <ldmType>ATTRIBUTE</ldmType>
            <folder>Employee</folder>
        </column>
        <column>
            <name>isprod</name>
            <title>IsProd</title>
            <ldmType>ATTRIBUTE</ldmType>
            <folder>Employee</folder>
        </column>
    </columns>
</schema>